body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

section {
    margin: auto;
    max-width: 700px;
}

a, label, *[onclick], .dropdown-item {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a:hover, label:hover, *[onclick]:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

a:focus {
    outline: none;
}

.w-90 {
    width: 90%;
}

.border-transparent {
    border-color: transparent;
}

#content {
    margin-top: 120px;
}

#pageTabContainer {
    top: 58px;
    z-index: 500;
}

#pageTab {
    margin: auto;
    max-width: 700px;
}

#pageTabContent {
    margin-top: 60px;
}