.navbar-brand img {
    height: 30px;
}

.dropdown-menu.show {
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    display: none;
    top: 0;
    left: calc(100% + 1px);
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu a.dropdown-item {
    pointer-events: none;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #FFF;
    margin-top: 8px;
    margin-right: -15px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu:hover a.dropdown-item {
    pointer-events: initial;
}

.navbar-nav .nav-link:hover, .navbar-nav .dropdown-item:hover {
    background-color: rgba(0,0,0,.15);
}