.news-content h3 {
    margin: 2rem 0 1rem 0 !important;
    padding: 0 !important;
    font-weight: bold !important;
}

.news-content p, .news-content div {
    margin: 1rem 0 !important;
    padding: 0 !important;
}