{% extends 'mainapp/base.html' %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="/static/css/news.css">
{% endblock %}

{% block title %}
    1bet.fr - {{ news.title }}
{% endblock %}

{% block content %}
    <h1 class="p-1 m-3 text-left">
       {{ news.title }}
    </h1>

    {% if news.teaser %}
        <h5 class="p-1 m-3 text-justify">
            {{ news.teaser }}
        </h5>
    {% endif %}

    <div class="p-1 m-3 text-right text-muted">
        <span class="align-text-top" id="pub-date" data-value="{{ news.pub_date|date:'Y-m-d H:i:s' }}"></span>
        <a class="align-text-middle"  href="{{ news.link }}">
            <img src="/static/img/source/{{ news.source.image_name }}" alt="{{ news.source.name }}" style="height: 20px">
        </a>
    </div>

    <div class="p-1 m-3 text-center">
        <img class="w-100" src="{% if news.image %}{{ news.image }}{% else %}/static/img/source/{{ news.source.big_image_name }}{% endif %}" alt="{{ news.source.name }}">
    </div>

    <div class="p-1 m-3 text-justify news-content">
        {% for paragraph in news.content %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </div>

    <script>
        $("#pub-date").text(moment($("#pub-date").attr("data-value")).fromNow() + " · ");
    </script>
{% endblock %}
