$body-bg: #DDDDDD;
$primary: #062350;
$secondary: #0D47A1;
$info: $body-bg;
$light: #EFEFEF;

$link-color: #AAAAAA;
$link-hover-color: #888888;

$nav-tabs-border-radius: 0;
$nav-tabs-border-width: 2px;
$nav-tabs-border-color: #AAAAAA;

$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-border-color: $primary;
$nav-tabs-link-hover-border-color: #888888;

@import "bootstrap/bootstrap";

.bg-gray {
    background-color: color("gray");
}
